<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callstate" version="0.0.15" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CallState</name>
    <js-module name="CallState" src="www/CallState.js">
        <clobbers target="window.CallState" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CallState">
                <param name="android-package" value="cordova.plugin.callstate.CallState" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <receiver android:name=".PhoneStateReceiver" android:enabled="true"
                android:exported="true">
               <intent-filter android:exported="true">
                    <action android:name="android.intent.action.PHONE_STATE" />
                    <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
               </intent-filter>
            </receiver>
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/CallState.java" target-dir="src/cordova/plugin/callstate" />
        <source-file src="src/android/PhoneStateReceiver.java" target-dir="src/cordova/plugin/callstate" />
    </platform>
</plugin>
