<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callstate" version="0.0.15" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CallState</name>
    <js-module name="CallState" src="www/CallState.js">
        <clobbers target="window.CallState" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CallState">
                <param name="android-package" value="cordova.plugin.callstate.CallState" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/CallState.java" target-dir="src/cordova/plugin/callstate" />
    </platform>
</plugin>
